@charset "utf-8";
/* CSS Document */
body{
	background-image: url("../images/Background.jpg");
	margin:0px;
	padding:0px;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
section{
	width:100%;
	height:95vh;
	
	position: relative;
}


.logo{
    position: relative;
    padding: 60px 66px;
}
.imagestyle1{
    position: relative;
	top: -20px;
	left: 4%;
    height: 60px;
	width: 20%;
}
.active{
	color:#2d2a2a;
	font-weight:bold;
}
.model{
	height:560px;
	position:absolute;
	bottom:40px;
	left:70%;
	transform: translateX(-70%);
}
.text-container p:nth-child(1){
	font-family: 'Courier New', Courier, monospace;
	font-weight:bold;
	color: whitesmoke;
	font-size:30px;
}
.text-container p:nth-child(2){
	font-family:'Courier New', Courier, monospace;
	font-weight:bold;
	letter-spacing:1px;
	color: whitesmoke;
	font-size:40px;
	
}
.text-container p:nth-child(3){
	font-family: 'Courier New', Courier, monospace;
	color: whitesmoke;
	font-size:30px;
	line-height:30px;
}

.text-container p{
	margin:45px 0px 25px;
	line-height:0px;
}
.text-container button{
	width:130px;
	height:42px;
	border-radius:10px;
	font-family:calibri;
	font-weight:bold;
	font-size: 14px;
	outline:none;
	margin:0px 10px;
	
}
.text-container{
	position: absolute;
	left:13%;
	top:42%;
	transform:translate(-13%,-42%);
}
.hire-btn{
	border:2px solid #373636;
	color:#373636;
	
}
.down-cv{
	border:2px solid #373636;
	color:#373636;
}
button:active{
	transform:scale(1.1);
}
.about-container{
	width:80%;
	height:330px;
	background:#ffffff;
	border-radius:20px;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
	margin: -7%  auto 20px auto;
	position: relative;
	justify-content:space-evenly;
	align-items: center;
}
.about-container img{
	height:250px;
}
.about-text{
	width:500px;
} 
.about-text p:nth-child(1){
	color:#403e3e;
	font-family: 'Courier New', Courier, monospace;
	font-weight:bold;
	font-size:23px;
	line-height:0px;
}
.about-text p:nth-child(2){
	color:#3e3d3d;
	font-size:13px;
	font-family: 'Courier New', Courier, monospace;
	font-weight:bold;
	line-height:5px;
}
.about-text p:nth-child(3),.about-text p:nth-child(4){
	color:#7e7d7d;
	font-family:'Courier New', Courier, monospace;
	font-size:16px;
}
.about-text button{
	width:120px;
	height: 40px;
	color:#ffffff;
	outline:none;
	border:none;
	font-family: 'Courier New', Courier, monospace;
	background-color:#262525;
}
.services{
	height:max-content;
	
	padding: 2% 10% 0px 10%;
	background-image: url("../images/Bg.jpg");
	background-image: no-repeat;
	background-size: 1540px 780px;
}
.services h2,p{
	color:black;
	font-family: 'Courier New', Courier, monospace;
	font-size: 20px;
	font-weight: bold;
}
.workHeader {
color: black;
font-weight: bolder;
font-size: 30px;
}
.educationHeader {
	color: black;
	font-weight: bolder;
	font-size: 30px;
	}
	.projectHeader {
		color: black;
		font-weight: bolder;
		font-size: 30px;
		}
.services-text p:nth-child(1){
	font-family: calibri;
	font-weight:bold;
	color:black;
	font-size:30px;
	line-height:0px;
}
.services-text p:nth-child(2){
	font-family:calibri;
	font-weight: bold;
	color:#3e3d3d;
	font-size: 15px;
	line-height: 5px;
}
.services-text p:nth-child(3){font-family:calibri;
color:#7e7d7d;
font-size: ;}
.services-text{
	width: 500px;
	margin:50px 0px;
}


footer p{
	font-family: calibri;
}
.footer h2{
	font-family: 'Courier New', Courier, monospace;
	font-weight: bolder;
	font-size: 50px;
}
footer p:nth-child(1){
	font-size: 30px;
	font-weight:bold;
	color:#191919;
	line-height:10px;
}
footer p:nth-child(2){
	font-size: 16px;
	color:#7e7d7d;
	width:600px;
	text-align: center;
}
footer{
	height:300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.social-icons a{
	width:40px;
	height:40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#e6e3e3;
	margin:20px 10px;
	border-radius:50%;
}
.social-icons{
	display: flex;
	
}
.social-icons i,.social i{
	color:#000000;
}
.social-icons a:hover{
	background-color:#000000;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	transition:all ease 0.5s;
}
.social-icons a:hover i,
.social a:hover i{
	color:#FFFFFF;
	transition:all ease 0.5s;
}

.copyright{
	color:#565555;
	font-size: 12px;
	position: absolute;
	left:50%;
	bottom:10px;
	transform: translateX(-50%);
}
.social{
	position: fixed;
	top:50%;
	right:0px;
	transform:translateY(-50%);
}
.social a{
	display: flex;
	justify-content: center;
	align-items: center;
	width:50px;
	height:50px;
	margin:0px;
	padding: 0px;
	line-height:0px;
	background-color:#FFFFFF;
	border:1px solid #CBCBCB;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
}
.social a:hover{
	background-color:#000000;
	transition:all ease 0.5s;
}
.social i{
	font-size:20px;
	color:#2B2B2B;
}
.project p3{
	color: whitesmoke;
}